body{
    background-image: url(images/pinto-art-EydnY2Yfd3U-unsplash.jpg);
    background-size: 2000px;
    /* LOOKS WEIRD font-family: 'Poiret One', cursive;*/
    color: rgb(255, 240, 255);
    font-family: 'Orbitron', sans-serif;
    padding: 5px;
    margin: 5px;
}
.head {
  
  /*width: 100px;
  height: 100px;
  background-color: rgb(90, 178, 255);
  transition: width 5s;*/
}
h1{
  font-family: 'Orbitron', sans-serif;}

.about-me {
  font-family: 'Poiret', cursive;
   /* border: 3px solid black;*/

    padding: 75px;
    text-align: center;
}
.social-media{
    padding: 5px;
    text-align: center;
}

nav { 
    text-align: center;
}
.navigation a:hover{
    top: -5px;
    background-color: rgb(255, 175, 244);
    border-radius: 76px 34px 65px;
}
.navigation a{
    position: relative;
    top: 0px;
    transition: 0.3s;
    text-decoration: none;
    color: aliceblue;
    border-width: 25px;
    padding: 5px;
    margin: 10px;
}
.intro {
    font-family: 'Orbitron', sans-serif;
}
li{
    padding: 5px;
    margin: 5px;
    list-style: none;
    list-style-type: none;
    display: inline-flex;

}
/*:before {
    content: attr(data-item);
    transition: all 1s ease-in-out;
    color: #8254ff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }

  .navigation a:hover {
    :before {
      width: 100%;
    }
} SASS CODE INSTALL NPM NODE.JS ON PERSONAL COMPUTER*/
/*CARDS FROM W3SCHOOLS-START*/
* {
    box-sizing: border-box;
  }
  
  body {
    color: rgb(255, 255, 255);
    font-family:'Orbitron' sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns 
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }*/
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f100;
  }