body{
    background-image: url(images/pinto-art-EydnY2Yfd3U-unsplash.jpg);
    background-size: 2000px;
    /* LOOKS WEIRD font-family: 'Poiret One', cursive;*/
    color: rgb(255, 255, 255);
    font-family: 'Orbitron', sans-serif;
    padding: 5px;
    margin: 5px;
}

.about-me {
    font-family: 'Poiret One', cursive;
   /* border: 3px solid black;*/

    padding: 75px;
    text-align: center;
}

.social-media{
    padding: 5px;
    text-align: center;
}

nav { 
    text-align: center;
}
.navigation a:hover{
    top: -5px;
    background-color: rgb(255, 175, 244);
    border-radius: 76px 34px 65px;
}
.navigation a{
    position: relative;
    top: 0px;
    transition: 0.3s;
    text-decoration: none;
    color: aliceblue;
    border-width: 25px;
    padding: 5px;
    margin: 10px;
}

li{
    padding: 5px;
    margin: 5px;
    list-style: none;
    list-style-type: none;
    display: inline-flex;

}
/*:before {
    content: attr(data-item);
    transition: all 1s ease-in-out;
    color: #8254ff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }

  .navigation a:hover {
    :before {
      width: 100%;
    }
} SASS CODE INSTALL NPM NODE.JS ON PERSONAL COMPUTER*/
/*CARDS FROM W3SCHOOLS-START*/
* {
    box-sizing: border-box;
  }
  
  
  /* Float four columns side by side */
  .column {
    float: left;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns 
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }*/
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f100;
  }
.skills {
  font-size: small;
  position: absolute;
  width: 25%;
}
@keyframes htmlloadbar {
  0% {width: 0%; background-color: #e683ff;}
  100% {width: 90%; background-color: #e683ff;}
}
@keyframes cssloadbar {
  0% {width: 0%; background-color: #e683ff;}
  100% {width: 80%; background-color: #e683ff;}
}
@keyframes jsloadbar {
  0% {width: 0%; background-color: #e683ff;}
  100% {width: 65%; background-color: #e683ff;}
}
@keyframes phploadbar {
  0% {width: 0%; background-color: #e683ff;}
  100% {width: 35%; background-color: #e683ff;}
}
@keyframes csharploadbar {
  0% {width: 0%; background-color: #e683ff;}
  100% {width: 75%; background-color: #e683ff;}
}
@keyframes javaloadbar {
  0% {width: 0%; background-color: #e683ff;}
  100% {width: 50%; background-color: #e683ff;}
}
.html { animation: htmlloadbar 9s; width: 90%; background-color: #e683ff;}
.css {animation: cssloadbar 8s; width: 80%; background-color: #e683ff;}
.js {animation: jsloadbar 7s; width: 65%; background-color: #e683ff;}
.php {animation: phploadbar 4s; width: 35%; background-color: #e683ff;}
.csharp{animation: csharploadbar 8s; width: 75%; background-color: #e683ff;}
.java{animation: javaloadbar 5s; width: 50%; background-color: #e683ff;}